name: Update module mapping
on:
  workflow_dispatch:
  schedule:
  - cron:  '0 2 * * 4'
jobs:
  mappings-update:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repo
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.1.2
    - name: Update module mappings
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      run: |
        gem install bundler
        bundle install --jobs 4 --retry 3
        bundle exec rake update
    - name: Commit changes
      uses: EndBug/add-and-commit@v9
      with:
        add: 'data'

